@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Ropest";
  src: url("./assets/fonts/RopestPersonalUseOnly-wrpx.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "RopestBlack";
  src: url("./assets/fonts/RopestBlackPersonalUseOnly-vYxE.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #faf7ed;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scrollbar-gutter: stable;
}

.header-text {
  @apply font-oswald text-6xl font-semibold;
}

.subheader-text {
  @apply font-oswald text-4xl font-medium;
}

.button-style {
  @apply rounded-md px-4 py-2 font-semibold;
}
