body{
  margin: 0;
}

.sign-up-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1.interests-title {
  font-family: oswald, sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: black;
  padding: 10px 10px 0px 10px;
  margin: 0;
}

h2.interests-subheader {
  display: flex;
  font-family: oswald, sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: black;
  justify-content: center;
  margin: 0;
}

.row {
  display: flex;
  justify-content: center;
}

.interest-button {
  background-color: #FAF7ED;
  color: black;
  border: none;
  width: 200px;
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 20px;
  font-weight: 450;
  font-family: oswald, sans-serif;
  cursor: pointer;
  margin: 10px;
}

.submit-button {
  background-color: #BAC67A;
  color: black;
  border: none;
  width: 200px;
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 25px;
  font-weight: 400;
  font-family: oswald, sans-serif;
}

button:hover {
  background-color: #D9D9D9;
}


